.chat-side
  .chat-side__username
    .chat-side__username__top-items
      %p.chat-side__username__top-items__name 
        aaa
      %ul.chat-side__username__top-items__box
        %li.chat-side__username__top-items__box--pen
          = link_to"#" do
            = icon('far','edit')
        %li.chat-side__username__top-items__box--gear
          = link_to"#" do
            = icon('fas','cog')
  .chat-side__group-list
    .chat-side__group-list__group
      %p.chat-side__group-list__group__name
        test
      %p.chat-side__group-list__group__coment
        アイウエオ
      %p.chat-side__group-list__group__name
        test
      %p.chat-side__group-list__group__coment
        アイウエオ